.env
.DS_Store
assets/.DS_Store
assets/images/.DS_Store
assets/images/recipes/.DS_Store
.pypirc
env/
.vscode/
.mypy_cache/
*.pyc
*.egg-info
.eggs
build/
dist/
docs/_build/
docs/_static/
docs/_templates/
AUTHORS
_data/.DS_Store
_data/recipes.yaml
_data/recipes_status.json
recipes.yaml
recipes_nutrition.yaml
assets/images/recipes/*.*
