appdirs==1.4.4
bcrypt==3.1.7
blessings==1.7
certifi==2020.12.5
cffi==1.14.0
chardet==3.0.4
colorama==0.4.4
coloredlogs==14.0
commonmark==0.9.1
curtsies==0.3.4
diplomacy==1.1.2
enquiries==0.1.0
humanfriendly==8.2
idna==2.10
keyring==21.5.0
paprika-recipes==2.2.0
pycparser==2.20
Pygments==2.7.3
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.1
PyYAML==5.3.1
requests==2.25.0
rich==8.0.0
six==1.15.0
tornado==6.0.4
tqdm==4.47.0
typing-extensions==3.7.4.3
ujson==3.0.0
urllib3==1.26.2
wcwidth==0.2.5
